aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.3
croniter==1.1.0
frozenlist==1.2.0
greenlet==1.1.2
idna==3.2
multidict==5.2.0
pyTelegramBotAPI==4.3.1
python-dateutil==2.8.2
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
schedule==1.1.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.27
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.6
yarl==1.7.2
